
<div class = "replies">
<p>
  <strong>Commenter:</strong>
  <%= comment.try(:commenter) %>
</p>
 
<p>
  <strong>Comment:</strong>
  <%= comment.try(:body) %>
</p>


<% from_reply_form ||= nil %>
<% unless from_reply_form %>
	<p><%= link_to 'reply', article_comment_new_comment_path(comment.article.id,comment.id) %></p>
	<%if (current_user && current_user == comment.user) && !comment.children.present?%>
	<p> <%= link_to 'Destroy Comment', [comment.article, comment], method: :delete,data: { confirm: 'Are you sure?'} %> </p>
	<%end%>
<% end %>

</div>
